body {
background-image: url(./image.jpg);
text-align:center;
font-size: 30px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-top: auto;
}
button:hover{
  
    background-color: green;
    color: honeydew;
}
.signin{
    margin-top: 100px;
}
.log{
    text-decoration: none;
}